<template>
  <v-card width="500" height="500">
    <div v-if="!sketchpad" width="100%" height="100%">
      <v-progress-circular
        indeterminate
        color="primary"
      ></v-progress-circular>
    </div>
    <canvas v-show="sketchpad" id="sketchpad" width="500" height="500"></canvas>
    <v-card-actions v-if="sketchpad">
      <v-btn
        icon
        @click="setMode('fill')"
        :outlined="'fill' === sketchpad.mode"
      >
        <v-icon>mdi-format-color-fill</v-icon>
      </v-btn>
      <v-btn
        icon
        @click="setMode('draw')"
        :outlined="'draw' === sketchpad.mode"
      >
        <v-icon>mdi-draw</v-icon>
      </v-btn>

      <v-color-picker
        hide-mode-switch
        hide-sliders
        hide-inputs
        hide-canvas
        show-swatches
        swatches-max-height="75"
        width="200"
        v-model="sketchpad.color"
        mode="hexa"
        class="mx-2"
      ></v-color-picker>

      <v-spacer />

      <v-btn color="primary" text @click="next">Next</v-btn>

      <v-spacer />

      <v-btn color="error" text @click="reset">Reset</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Component, Prop, Emit, Vue } from 'nuxt-property-decorator'
import Atrament from 'atrament'

import { debounce } from '~/util'

@Component
export default class Canvas extends Vue {
  sketchpad: any | null = null
  color: string = '#000000'

  @Prop({
    type: String,
    required: false,
    default: undefined
  }) readonly src?: string | undefined

  mounted() {
    const canvas = document.querySelector<HTMLCanvasElement>('#sketchpad')

    if (canvas) {
      this.sketchpad = new Atrament(canvas)

      const ctx = canvas.getContext("2d")

      if (!this.src) {
        ctx!.fillStyle = 'white'
        ctx!.fillRect(0, 0, canvas.width, canvas.height)
      } else {
        const image = new Image()
        image.onload = () => {
          ctx!.drawImage(image, 0, 0, canvas.width, canvas.height)
        }
        image.src = this.src
      }
    }
  }

  @debounce
  reset() {
    const canvas = document.querySelector<HTMLCanvasElement>('#sketchpad')

    if (canvas) {
      const ctx = canvas.getContext("2d")
      if (!this.src) {
        ctx!.fillStyle = 'white'
        ctx!.fillRect(0, 0, canvas.width, canvas.height)
      } else {
        const image = new Image()
        image.onload = () => {
          ctx!.drawImage(image, 0, 0, canvas.width, canvas.height)
        }
        image.src = this.src
      }
    }
  }

  @debounce
  setMode(mode: string) {
    if (this.sketchpad) {
      this.sketchpad.mode = mode
    }
  }

  @debounce
  setColor(color: any) {
    console.log('setColor', color)
    if (this.sketchpad) {
      this.sketchpad.color = color
    }
  }

  @Emit('image')
  @debounce
  next() {
    if (this.sketchpad) {
      return this.sketchpad.toImage()
    }
  }
}
</script>

<style scoped>
#sketchpad {
  background-color: gray;
  cursor: crosshair;
}
</style>
