<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <h1>Mint Request {{ $route.params.id }}</h1>
      <nuxt-link to="/requests">Back to Requests</nuxt-link>
      <template v-if="isCreator">
        <template v-if="imageUrl">
          <v-card width="500">
            <img :src="imageUrl" />

            <h5 v-if="ipfsUrl" class="my-2">{{ ipfsUrl }}</h5>

            <SubmitControls
              @submit="submit"
              :image="ipfsUrl"
              :loading="submitting"
              :attendeeTitle="request.request.title"
              :attendeeDesc="request.request.description"
            />

          </v-card>
        </template>

        <template v-else-if="request">
          <Canvas
            :src="getLocalIPFSUrl(request.request.url)"
            @image="setImageUrl"
          />
        </template>
      </template>
      <template v-else>
        <h5>This page is restricted to the artist!</h5>
        <nuxt-link to="/">Go Back</nuxt-link>
      </template>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { char2Bytes } from '@taquito/utils'
import { RequestSignPayloadInput, SigningType } from '@airgap/beacon-dapp'

import { debounce, readFileAsArrayBufferAsync } from '~/util'

@Component
export default class RequestsPage extends Vue {
  request: {
    id: number,
    submitted_at: Date,
    originator: string,
    request: {
      url: string,
      title: string,
      description: string
    }
  } | null = null

  imageUrl: string = ''
  ipfsUrl: string = ''
  submitting: boolean = false
  submitted: boolean = false

  fetchOnServer = false
  async fetch() {
    const response = this.isCreator
      ? await this.$axios.$get(`/attendee-api/request/${this.$route.params.id}`)
      : null

    if (response && response.length > 0) {
      this.request = response[0]
    }

    console.log('GOT ATTENDEE REQUEST!', this.request)
  }

  get isCreator(): boolean {
    return this.$config.creator === this.$accessor.auth.address
  }

  getLocalIPFSUrl(ipfsUrl: string): string {
    const cid = ipfsUrl.substring(7)

    return `/gateway/${cid}`
  }

  @debounce
  async setImageUrl(url: string) {
    this.imageUrl = url
    const blob = await fetch(url).then(r => r.blob())
    const buffer = await readFileAsArrayBufferAsync(blob)
    const { cid } = await this.$ipfs.add(buffer)
    this.ipfsUrl = `ipfs://${cid}`
    console.log('Uploaded to IPFS!', this.ipfsUrl)
  }

  @debounce
  async submit({ title, description }: { title: string, description: string }) {
    this.submitting = true

    const formatted = [
      'Tezos Signed Message:',
      this.$config.baseUrl,
      new Date().toISOString(),
      JSON.stringify({
        title,
        description,
        url: this.ipfsUrl,
        attendee: this.request?.originator,
        id: this.$route.params.id
      })
    ].join(' ')
    const message = char2Bytes(formatted)
    const bytes = '05' + '0100' + char2Bytes(message.length.toString()) + message
    const payload: RequestSignPayloadInput = {
      signingType: SigningType.MICHELINE,
      payload: bytes,
      sourceAddress: this.$accessor.auth.address
    }
    const signed = await this.$beacon.wallet.client.requestSignPayload(payload)
    const activeAccount = await this.$beacon.wallet.client.getActiveAccount()
    const { publicKey: pk } = activeAccount || {}
    console.log('pk', pk)
    const res = await this.$axios.$post('/creator-api/mint', {
      message: bytes,
      sig: signed.signature
    })

    console.log('res', res)

    this.submitting = false
    this.submitted = true
    this.$router.push('/requests')
  }
}
</script>
