<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <h1>Create</h1>
        <template v-if="imageUrl">
          <v-card width="500">
            <img :src="imageUrl" />

            <h5 v-if="ipfsUrl" class="my-2">{{ ipfsUrl }}</h5>

            <SubmitControls
              @submit="submit"
              :image="ipfsUrl"
              :loading="submitting"
            />

          </v-card>
        </template>
        <template v-else>
          <Canvas @image="setImageUrl" />
        </template>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { char2Bytes } from '@taquito/utils'
import { RequestSignPayloadInput, SigningType } from '@airgap/beacon-dapp'

import { debounce, readFileAsArrayBufferAsync } from '~/util'

@Component
export default class CreatePage extends Vue {
  imageUrl: string = ''
  ipfsUrl: string = ''
  submitting: boolean = false
  submitted: boolean = false

  async setImageUrl(url: string) {
    this.imageUrl = url
    const blob = await fetch(url).then(r => r.blob())
    const buffer = await readFileAsArrayBufferAsync(blob)
    const { cid } = await this.$ipfs.add(buffer)
    this.ipfsUrl = `ipfs://${cid}`
    console.log('Uploaded to IPFS!', this.ipfsUrl)
  }

    @debounce
  async submit({ title, description }: { title: string, description: string }) {
    this.submitting = true

    console.log('title', title)
    console.log('description', description)
    console.log('ipfsUrl', this.ipfsUrl)

    const formatted = [
      'Tezos Signed Message:',
      this.$config.baseUrl,
      new Date().toISOString(),
      JSON.stringify({
        title, description, url: this.ipfsUrl
      })
    ].join(' ')
    const message = char2Bytes(formatted)
    const bytes = '05' + '0100' + char2Bytes(message.length.toString()) + message
    const payload: RequestSignPayloadInput = {
      signingType: SigningType.MICHELINE,
      payload: bytes,
      sourceAddress: this.$accessor.auth.address
    }
    const signed = await this.$beacon.wallet.client.requestSignPayload(payload)
    const activeAccount = await this.$beacon.wallet.client.getActiveAccount()
    const { publicKey: pk } = activeAccount || {}
    console.log('pk', pk)
    const res = await this.$axios.$post('/attendee-api/publish', {
      message: bytes,
      sig: signed.signature,
      pk
    })

    console.log('res', res)

    this.submitting = false
    this.submitted = true
    this.$router.push('/')
  }
}
</script>
