<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <h1>Mint Requests</h1>
      <nuxt-link to="/">Go Back</nuxt-link>
      <v-divider />
      <template v-if="isCreator">
        <v-btn
          @click="$fetch"
          color="primary"
          class="ma-2"
          x-small
          :loading="$fetchState.pending"
        >
          Refresh
        </v-btn>
        <v-card v-for="(req, i) in requests" :key="req.id" width="500">
          <img
            crossorigin="anonymous"
            :src="getLocalIPFSUrl(req.request.url)"
          />
          <v-card-actions>
            <v-btn color="primary" text :to="`/requests/${req.id}`">
              Complete
            </v-btn>
          </v-card-actions>
        </v-card>
      </template>
      <template v-else>
        <h5>This page is restricted to the artist!</h5>
        <nuxt-link to="/">Go Back</nuxt-link>
      </template>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class RequestsPage extends Vue {
  requests: {
    id: number,
    submitted_at: Date,
    originator: string,
    request: {
      url: string,
      title: string,
      description: string
    }
  }[] = []

  fetchOnServer = false
  async fetch() {
    this.requests = this.isCreator
      ? await this.$axios.$get('/attendee-api/requests')
      : []

    console.log('GOT ATTENDEE REQUESTS!', this.requests)
  }

  get isCreator(): boolean {
    return this.$config.creator === this.$accessor.auth.address
  }

  getLocalIPFSUrl(ipfsUrl: string): string {
    const cid = ipfsUrl.substring(7)

    return `/gateway/${cid}`
  }
}
</script>
