<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <template v-if="$config.creator === $accessor.auth.address">
        <h1>Welcome, creator!</h1>
        <v-divider />
        <nuxt-link to="/requests">Mint Requests</nuxt-link>
      </template>
      <template v-else-if="$accessor.auth.isLoggedIn">
        <h1>Welcome, {{ $accessor.auth.address }}!</h1>
        <v-divider />
        <nuxt-link to="/requests/create">Create New Submission</nuxt-link>

        <h5>My Submissions</h5>
        <v-btn
          v-if="requests.length === 0"
          @click="$fetch"
          color="primary"
          x-small
          :loading="$fetchState.pending"
        >
          Refresh
        </v-btn>
        <v-card v-for="(req, i) in requests" :key="req.id" width="500">
          <img crossorigin="anonymous" :src="getLocalIPFSUrl(req.request.url)" />
          <div class="ma-2">{{ req.request.title }}</div>
          <div class="ma-2">{{ req.request.description }}</div>
          <div class="ma-2">{{ req.state }}</div>
        </v-card>
      </template>
      <template v-else>
        <h1>Welcome to the {{ $config.eventName }}!</h1>
        <h5>Click "Connect" below to get started</h5>

        <h5>Recent Mints</h5>
        <v-btn
          @click="$fetch"
          color="primary"
          :loading="$fetchState.pending"
          x-small
        >
          Refresh
        </v-btn>
        <v-card v-for="(mint, i) in mints" :key="mint.token_id" width="500">
          <img
            crossorigin="anonymous"
            :src="getLocalIPFSUrl(mint.manifest.displayUri)"
          />
          <div class="ma-2"># {{ mint.token_id }}</div>
          <div class="ma-2">Name: {{ mint.manifest.name }}</div>
          <div class="ma-2">Description: {{ mint.manifest.description }}</div>
          <div class="ma-2">Minted On: {{ mint.manifest.date }}</div>
          <div class="ma-2">Owner: {{ mint.manifest.creators[1] }}</div>
        </v-card>
      </template>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class IndexPage extends Vue {
  requests: {
    id: number,
    submitted_at: Date,
    originator: string,
    status: string,
    request: {
      url: string,
      title: string,
      description: string
    }
  }[] = []

  mints: {
    token_id: number
    token_info: string
    manifest: {
      creators: string[]
      date: string
      name: string
      description: string
      displayUri: string
    }
  }[] = []

  fetchOnServer = false
  async fetch() {
    if (this.$accessor.auth.isLoggedIn) {
      this.requests = await this.$axios.$get(
        `/attendee-api/attendee-requests/${this.$accessor.auth.address}`
      )
      console.log('GOT ATTENDEE REQUESTS!', this.requests)
    } else {
      this.mints = await this.$axios.$get(`/attendee-api/recent-mints`)
      console.log('GOT RECENT MINTS!', this.mints)
    }
  }

  getLocalIPFSUrl(ipfsUrl: string): string {
    const cid = ipfsUrl.substring(7)

    return `/gateway/${cid}`
  }
}
</script>
